/*Reset*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/

.container {
    width: 75%;
}

/*Header*/

header {
    background-color: #E579E6;
    margin: 2% 0;
    height: 120px;
}

/*Prima Sezione*/

.prima-sezione {
    background-color: #E1D67A;
    margin: 2% 0;
    height: 500px;
}