/*Reset*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/

.container {
    width: 80%;
}

/*Header*/

header {
    background-color: #E579E6;
    margin: 2% 0;
    height: 100px;
}